* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/img/fita\ de\ policia.png);
    background-repeat: no-repeat;
    background-size: 1450px 660px;
    background-attachment: fixed;
    background-size: cover;
}




header {
    text-align: center;
    border-left: 3px solid rgb(212, 255, 0);
    border-bottom: 3px solid rgb(212, 255, 0);
    border-right: 3px solid rgb(212, 255, 0);
}

header img {
    width: 800px;
    height: 535px;
    justify-content: center;
}

.menu {
    background-color: rgb(167, 31, 0);
    text-transform: uppercase;
    border-bottom: 5px solid rgb(126, 124, 124);

}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav li {
    display: inline-block;
    color: white;
    padding: 15px;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

nav li a:hover {
    text-decoration: underline;
}

main section {
    width: 1200px;
    margin: auto;
    padding: 50px;
}

main section:nth-of-type(odd) {
    background-color: rgb(173, 38, 38);
}

main section:nth-of-type(even) {
    background-color: rgb(139, 136, 136);
}

main section h1 {
    font-size: 55px;
    text-transform: uppercase;
}

main section p {
    margin: 20px 0px;
    text-align: justify;
}

.destaque {
    font-weight: bold;
    font-size: 24px;
}

main section button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

main section button:hover {
    background-color: orangered;
    cursor: pointer;
}

.btnAzul {
    background-color: rgb(9, 9, 160);
}

.btnPreto {
    background-color: black;
}

main section h2 {
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: row;

}

.container>div {

    width: 100%;
    padding: 20px;
}

.servicos div {
    text-align: center;
}

.servicos img {
    width: 90%;
}

.quem-somos {
    text-align: center;
}

footer {
    color: black;
}

.paixao .container {
    display: flex;
    flex-direction: column;
}

.paixao p {
    margin: 0px;
}

.paixao div>div {
    text-align: left;
    padding-left: 0px;
}

.paixao div button {
    display: inline-block;
}

.img-compromissos {
    margin-top: 40px;
    text-align: center;
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 40px;
}

header>h1 {
    background-color: rgb(196, 187, 1);
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

main {
    background-color: black;
}

header>img {
    margin: 0;
}

.desaparecer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: rgb(173, 3, 3);
}

.desaparecer:hover {
    opacity: 1;
    cursor: pointer;
}

.missing {
    border: 8px solid rgb(0, 0, 0);
    border-radius: 90px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
  }

.Target h2 {
    text-align: center;
}
  
