* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/img/fita\ de\ policia.png);
    background-repeat: no-repeat;
    background-size: 1450px 660px;
    background-attachment: fixed;
    background-size: cover;
}




header {
    text-align: center;
    border-left: 3px solid rgb(212, 255, 0);
    border-bottom: 3px solid rgb(212, 255, 0);
    border-right: 3px solid rgb(212, 255, 0);
}

header img {
    width: 800px;
    height: 535px;
    justify-content: center;
}

.menu {
    background-color: rgb(167, 31, 0);
    text-transform: uppercase;
    border-bottom: 3px solid rgb(126, 124, 124);

}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
}


.menu li:hover span {
    opacity: 1;
    /* Torna o texto visível ao passar o mouse */
    text-decoration: none;
}

.menu a::before {
    content: '?';
    /* Símbolo de interrogação */
    font-size: 24px;
    display: block;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu a:hover::before {
    opacity: 0;
    /* Torna o símbolo invisível ao passar o mouse */
}


.menu span {
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav li {
    display: inline-block;
    color: white;
    padding: 15px;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

nav li a:hover {
    text-decoration: underline;
}

main section {
    width: 1200px;
    margin: auto;
    padding: 50px;
}

main section:nth-of-type(odd) {
    background-color: rgb(173, 38, 38);
}

main section:nth-of-type(even) {
    background-color: rgb(113, 111, 111);
}

main section h1 {
    font-size: 55px;
    text-transform: uppercase;
}

main section p {
    margin: 20px 0px;
    text-align: justify;
}

.destaque {
    font-weight: bold;
    font-size: 24px;
}

main section button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

main section button:hover {
    background-color: orangered;
    cursor: pointer;
}

.btnAzul {
    background-color: rgb(9, 9, 160);
}

.btnPreto {
    background-color: black;
}

main section h2 {
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: row;

}

.container>div {

    width: 100%;
    padding: 20px;
}

.servicos div {
    text-align: center;
}

.servicos img {
    width: 90%;
}

.casos {
    text-align: center;
}

.casos img {
    border-radius: 5px;
}

.casos h2 {
    color: white;
    background-color: rgb(136, 7, 5);
    border-radius: 100px;
}

.casos p {
    text-align: center;
}


footer {
    color: black;
}

.paixao .container {
    display: flex;
    flex-direction: column;
}

.paixao p {
    margin: 0px;
}

.paixao div>div {
    text-align: left;
    padding-left: 0px;
}

.paixao div button {
    display: inline-block;
}

.img-compromissos {
    margin-top: 40px;
    text-align: center;
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 40px;
}

header>h1 {
    background-color: rgb(196, 187, 1);
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

main {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/fundo-papel.png);
    background-repeat: repeat
}

header>img {
    margin: 0;
}

.desaparecer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: rgb(173, 3, 3);
}

.desaparecer:hover {
    opacity: 1;
    cursor: pointer;
}

.missing {
    border: 8px solid rgb(0, 0, 0);
    border-radius: 90px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
}

.obituario h2 {
    text-align: center;
    background-color: rgb(136, 7, 5);
    border-radius: 100px;
    color: white;
}

.desaparecidos h2 {
    text-align: center;
    background-color: rgb(136, 7, 5);
    border-radius: 100px;
    color: white;
}

.obituario img {
    border-radius: 10px;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid purple;
}

.container>div {
    text-align: center;
}

.container>div {
    border: 1px solid red;
    width: auto;
    height: auto;
}

.nobel h2 {
    text-align: center;
    background-color: rgb(136, 7, 5);
    border-radius: 100px;
    color: white;
}

.nobel div {
    width: 100%;
}

.nobel img {
    padding: 10px;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    background-color: rgb(18, 18, 168);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 200px;
}

label:hover {
    background-color: rgb(61, 61, 176);
}

.texto-escondido {
    display: none;
}

input[type="checkbox"]:checked~.texto-escondido {
    display: block;
}

.target {
    text-align: center;
}
