<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="estilos.css" <title>
    </title>





</head>



<body>
    <header>
        <h1>WIFI - Um pouco sobre tudo</h1>
        <nav>
            <ul>
                <li><a href="">Opção 1</a></li>
                <li><a href="">Opção 2</a></li>
                <li><a href="">Opção 3</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Esportes</h2>
        </section>
        <article>
            <h3>Campeonato brasileiro</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam enim quisquam perspiciatis
                necessitatibus ipsa delectus iste fugit ullam quibusdam! Adipisci, unde. Alias fuga mollitia dolorem
                repudiandae fugiat cum, accusamus soluta?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam enim quisquam perspiciatis
                necessitatibus ipsa delectus iste fugit ullam quibusdam! Adipisci, unde. Alias fuga mollitia dolorem
                repudiandae fugiat cum, accusamus soluta?</p>
                <p><b>Autor:</b> Fulano de tal</p>
        </article>
        <article>
            <h3>Olimpíadas</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam enim quisquam perspiciatis
                necessitatibus ipsa delectus iste fugit ullam quibusdam! Adipisci, unde. Alias fuga mollitia dolorem
                repudiandae fugiat cum, accusamus soluta?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam enim quisquam perspiciatis
                necessitatibus ipsa delectus iste fugit ullam quibusdam! Adipisci, unde. Alias fuga mollitia dolorem
                repudiandae fugiat cum, accusamus soluta?</p>
                <p><b>Autor:</b> Fulano de tal</p>
        </article>
        <article></article>
        <section> </section>
    </main>

    <footer>
        <p>Rodapé da página</p>
    </footer>

</body>

</html>
