* {
    margin: 0%;
}

.primeiroHeader h1 {
    background-color: black;
    color: white;
    text-align: right;
    padding: 15px;
}

.segundoHeader p {
    background-color: rgb(151, 151, 151);
    color: white;
    text-align: right;
    padding: 15px;
}

ul {
    list-style-type: none;
    background-color: rgb(73, 128, 211);
    color: white;
    text-decoration: none;
    text-align: center;

}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li {
    display: inline-block;
    padding: 10px;
    margin: 0px 20px 0px 20px;
}

a:hover {
    text-decoration: underline;
}
