.container {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.container > div {
    border: 5px solid red;
    width: 100%;
}

.cxOrg {
    border: 5px solid pink;
    width: 100px;
}