* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

header img {
    width: 1401px;
    height: 200px;
    justify-content: center;
}

.menu {
    background-color: rgb(4, 4, 103);
    text-transform: uppercase;

    
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav li {
    display: inline-block;
    color: white;
    padding: 25px;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

nav li a:hover {
    text-decoration: underline;
}

main section {
    width: 1200px;
    margin: auto;
    padding: 50px;
}

main section:nth-of-type(odd) {
    background-color: lightgray;
}

main section:nth-of-type(even) {
    background-color: white;
}

main section h1 {
    font-size: 55px;
    text-transform: uppercase;
}

main section p {
    margin: 20px 0px;
    text-align: justify;
}

.destaque {
    font-weight: bold;
    font-size: 24px;
}

main section button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

main section button:hover {
    background-color: orangered;
    cursor: pointer;
}

.btnAzul{
    background-color: blue;
}

.btnPreto{
    background-color: black;
}

main section h2 {
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: row;

}

.container > div {

    width: 100%;
    padding: 20px;
}

.servicos div {
    text-align: center;
}

.servicos img {
    width: 90%;
}

.quem-somos {

    text-align: center;
}

footer {
    color: black;
}

.paixao button {
    border: 1px solid red;
}
